on init
    # We use our own ril-daemon service definition, see htc-ril-daemon
    stop ril-daemon

on early-init
    # Adaptive backlight (surfaceflinger Uid: system, Gid: graphics)
    chown system system /sys/devices/tegradc.0/smartdimmer/enable
    chmod 0664 /sys/devices/tegradc.0/smartdimmer/enable
    restorecon /sys/devices/tegradc.0/smartdimmer/enable

    # NV audio blob
    chown media system /sys/power/suspend/mode
    chmod 0664 /sys/power/suspend/mode
    restorecon /sys/power/suspend/mode

on post-fs-data
    # The camera calibration from the WDM partition is written to
    # /data/factory_main.bin and /data/factory_front.bin by the vendor camera
    # HAL that runs inside the mediaserver process. The process runs as uid
    # media, gid audio and is therefore not allowed to create files in /data.
    # Create a directory with proper permissions and symlink the files into it.
    # The files will be created once written.
    mkdir /data/cam_calib 0770 media system

    # In case the files already exist (coming from Sense) the symlink creation
    # will fail. Delete them first.
    rm /data/factory_main.bin
    rm /data/factory_front.bin
    rm /data/calibration.bin
    rm /data/calibration_front.bin
    rm /data/camera_overrides_front.isp

    symlink /data/cam_calib/factory_main.bin /data/factory_main.bin
    symlink /data/cam_calib/factory_front.bin /data/factory_front.bin
    symlink /data/cam_calib/calibration.bin /data/calibration.bin
    symlink /data/cam_calib/calibration_front.bin /data/calibration_front.bin
    symlink /data/cam_calib/camera_overrides_front.isp /data/camera_overrides_front.isp

on boot
    # Hardware tunables

    # Vibrator intensity
    chown root system /sys/class/timed_output/vibrator/dutycycle
    chmod 0664 /sys/class/timed_output/vibrator/dutycycle
    restorecon /sys/class/timed_output/vibrator/dutycycle

    # Button backlight
    chown root system /sys/class/leds/button-backlight/button_brightness
    chmod 0664 /sys/class/leds/button-backlight/button_brightness
    restorecon /sys/class/leds/button-backlight/button_brightness

# HTC RIL daemon. Name changed so it doesn't clash with ril-daemon defined in init.rc
service htc-ril-daemon /system/bin/rild
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-audio-gsm stream 660 radio audio
    socket rild-htc-coredump stream 660 radio system
    socket rild-agps stream 660 radio system
    socket rild-audio stream 660 radio audio
## +++ for ganlite ril
    socket ganat stream 660 radio ganlite_access
    socket ganpsat stream 660 radio ganlite_access
    socket kipc stream 660 radio ganlite_access
## --- for ganlite ril
    user root
    group radio cache inet misc audio log
